<!-- navbar for customer login page -->
<div class="row">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark nav-fill w-100">
        <a href="#" class="navbar-brand">
            <img src="assets/images/cart.png" alt="" class="logo">Ekart
        </a>
        
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="#" routerLink="/seller" routerLinkActive="Active" class="nav-link">Sell your Product</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div>
    <router-outlet></router-outlet>
</div>